
@font-face {
    font-family: Aleo;
    src: url('./fonts/Aleo-Light.otf');
}
@font-face {
    font-family: Playlist;
    src: url('./fonts/Playlist Script.otf');
}
.main-view{
    height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
    vertical-align: center;
    overflow: scroll;

    
}

.plswork{
    display: flex;
    flex-flow: wrap;
    align-content: space-around;
    justify-content: center;
}
.plswork2{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: space-around;
    margin-right: 10%;
    margin-left: 10%;
}



.full-logo{
    background-image: url("https://static.pexels.com/photos/212236/pexels-photo-212236.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}
.logo-box{
    height: 500px;
    background-image: url("./img/logo.ico");
    background-repeat: no-repeat;
    background-position: center;
    background-size: fill;
    width: auto;
}
.full-logo-mobile{
    width: 100%;
}
.get-started-box{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: white;
    align-content: center;
    height: 500px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.get-started-mobile{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: white;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.about-box{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: white;
    align-content: center;
    height: 500px;
    text-align: center;
    align-items: center;
    justify-content: center;
    float: right;
    width: auto;
    overflow: scroll;
}
.landing{
    border: 2px solid rgba(136, 136, 136, 0.43);
    border-radius: 25px;
    letter-spacing: 1px;
    padding: 20px;
    color: #666666;
    background: rgba(250, 250, 250, 0.57)
}
.landing:hover{
    background: rgba(136, 136, 136, 0.43);
    color: white;
    border-color: #eee;
}
.nav-text{
    font-family: 'Aleo';
    color: white;
    padding-left: 2px;
    font-weight: 100;
    font-size: 16px;
    vertical-align: center;
}
.cursive{
    font-family: 'Playlist';
   color: #666666;
}

.product{
    margin: 5px;
    width: 400px;
    display: inline-block;
    color: #666666;
}
.product-name{
    color: #666666;
}
.title-text{
    font-family: 'Aleo';
    color: #666666;
    padding-left: 2px;
    font-weight: 100;
}
.shade-box{
    height: 350px;
    border: 2px solid rgba(75, 73, 73, 0.37);
    width: 60px;
    margin: 5px;
    display: inline-block;
}

.shade-box:hover{
    border: 3px solid rgba(255, 255, 255, 0.59);
}
@media (max-width:970px){
    .shade-box{
        height: 150px;
    }
    .desktop-friendly{
        display:none;
    }
}

@media (min-width:970px){
    .mobile-friendly{
        display: none;
    }
    .sideNav{
        display: inline-block;
    }
}
.fair{
    background-color: #FDD0AF
}
.fair2{
    background-color: #F1C7A1
}
.medium{
    background-color: #F0C895
}
.medium2{
    background-color: #DBAA7F
}
.warm{
    background-color: #C6895A
}
.warm2{
    background-color:#C27B4D
}

.warm3{
    background-color:  #B86D45
}
.tan{
    background-color: #AF7243
}
.tan2{
    background-color: #A16131
}
.tan3{
    background-color: #925C2E
}
.dark{
    background-color: #78462B
}
.dark2{
    background-color: #5F371D
}
.brand-logo{
    vertical-align: center;
}
.aleo-text{
    font-family: 'Aleo';
    padding-left: 10px;
    padding-right: 50px;
    overflow: scroll;
}
.landing2{
    border: 2px solid #666666;
    border-radius: 25px;
    padding: 20px;
    color: #666666;
    font-size: 16px;
    background: rgba(250, 250, 250, 0.57)
}
.background-hue{
    background-color: #eee;
}
.shadeSwatch{
    width: 25px;
    height: 10px;
    border: 1px solid #666666;
    display: inline-block;
}
.shades{
    background-color: rgba(255, 255, 255, 0.59)
}
.gray-text{
    color: #666666;
}
.scroll{
    overflow: scroll;
}
