
        <div class="plswork2">
        <div class="col s12 about-box">
            <h2 class="cursive">About</h2>
                    <p class="aleo-text gray-text scroll desktop-friendly">No more having to skim through makeup website hoping to find a product that matches your skintone. That's my Shade makes it easy for users to know which brands have foundations in their skintone. All you have to do is choose a tone similar to yours and the shade formula will find you products!</p>
                    <p class="gray-text scroll mobile-friendly"  style="font-size: 10px">No more having to skim through makeup website hoping to find a product that matches your skintone. That's my Shade makes it easy for users to know which brands have foundations in their skintone. All you have to do is choose a tone similar to yours and the shade formula will find you products!</p>
                    <img src="img/logo.ico"style="height: 200px; width: 200px" >
        </div>
        </div>