<div class="row desktop-friendly">
    <div class="plswork col s12">
    <div class="col s6 center logo-box">
    </div>
    <div class="col s6 get-started-box">
        <a ui-sref="shades">
            <h2 class="title-text">find foundations in your skin shade</h2>
            <p class="landing center aleo-text"> &nbsp&nbsp&nbsp GET STARTED</p>
        </a>
    </div>
    </div>
</div>
<div class="mobile-friendly center">
                <div class="center">
                    <img src="img/logo.ico" style="width:300px; height: 250px">
                </div>
                <div class=" get-started-mobile center">
                    <a ui-sref="shades">
                        <p class="title-text">find foundations in your skin shade</p>
                        <p class="landing aleo-text">&nbsp&nbsp&nbsp GET STARTED</p>
                    </a>
                </div>
                </div>
            </div>
</div>