<div class="row desktop-friendly">
    <div class="plswork col s12">
    <div class="col s6 full-logo light-blue lighten-3">
    </div>
    <div class="col s6 light-blue lighten-3 get-started-box">
        <a ui-sref="shades">
            <h2 class="title-text">find foundations in your skin shade</h2>
            <p class="landing">GET STARTED</p>
        </a>
    </div>
    </div>
</div>
<div class="mobile-friendly center">
                <div class="full-logo-mobile light-blue lighten-3">
                    <img src="../img/fulllogo.png" style="width:275px">
                </div>
                <div class="light-blue lighten-3 get-started-mobile center">
                    <a ui-sref="shades">
                        <p class="title-text">find foundations in your skin shade</p>
                        <p class="landing">GET STARTED</p>
                    </a>
                </div>
                </div>
            </div>
</div>