<div class="shades">
    <!-- <button ng-click="getMakeup(shade)" type="button">INVOKE</button> -->
    <h1 class="title-text">choose a <span class="cursive">Shade!</span></h1>
    <a ui-sref="results({type: 'fair'})" ng-click="getMakeup('fair')"><div class="shade-box fair"></div></a>
    <a ui-sref="results({type:'fair2'})" ng-click="getMakeup('fair2')"><div class="shade-box fair2"></div></a>
    <a ui-sref="results({type:'medium'})" ng-click="getMakeup('medium')"><div class="shade-box medium"></div></a>
    <a ui-sref="results({type:'medium2'})" ng-click="getMakeup('medium2')"><div class="shade-box medium2"></div></a>
    <a ui-sref="results({type:'warm'})" ng-click="getMakeup('warm')"><div class="shade-box warm"></div></a>
    <a ui-sref="results({type:'warm2'})" ng-click="getMakeup('warm2')"><div class="shade-box warm2"></div></a>
    <a ui-sref="results({type:'warm3'})" ng-click="getMakeup('warm3')"><div class="shade-box warm3"></div></a>
    <a ui-sref="results({type:'tan'})" ng-click="getMakeup('tan')"><div class="shade-box tan"></div></a>
    <a ui-sref="results({type:'tan2'})"ng-click="getMakeup('tan2')"><div class="shade-box tan2"></div></a>
    <a ui-sref="results({type:'tan3'})"ng-click="getMakeup('tan3')"><div class="shade-box tan3"></div></a>
    <a ui-sref="results({type:'dark'})"ng-click="getMakeup('dark')"><div class="shade-box dark"></div></a>
    <a ui-sref="results({type:'dark2'})"ng-click="getMakeup('dark2')"><div class="shade-box dark2"></div></a>
</div>

<!-- <a ui-serif="results"></a> -->