<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper light-blue lighten-3">
        <a href="#!" class="brand-logo nav-text">That's My Shade!</a>
        <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="../views/home.html">Home</a></li>
          <li><a href="../views/shades.html">Shades</a></li>
          <li><a href="../views/about.html">About</a></li>
        </ul>
        <ul class="side-nav" id="mobile">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">Javascript</a></li>
          <li><a href="mobile.html">Mobile</a></li>
        </ul>
      </div>
    </nav>
  </div>